<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.message.dao.MsgListMapper">
	<resultMap id="BaseResultMap" type="com.message.entity.MsgList">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="TITLE_ID" property="titleId" jdbcType="VARCHAR" />
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="DELIVERY_WAY" property="deliveryWay" jdbcType="VARCHAR" />
		<result column="SEND_STATUS" property="sendStatus" jdbcType="VARCHAR" />
		<result column="RECV_STATUS" property="recvStatus" jdbcType="VARCHAR" />
		<result column="SEND_TIME" property="sendTime" jdbcType="TIMESTAMP" />
		<result column="RESEND_COUNT" property="resendCount" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, TITLE_ID, USER_ID,DELIVERY_WAY, SEND_STATUS,
		RECV_STATUS, SEND_TIME,
		RESEND_COUNT
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from MSG_LIST
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		MSG_LIST
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.message.entity.MsgList">
		insert into MSG_LIST (ID,
		TITLE_ID, USER_ID,DELIVERY_WAY,
		SEND_STATUS, RECV_STATUS, SEND_TIME,
		RESEND_COUNT)
		values (#{id,jdbcType=VARCHAR},
		#{titleId,jdbcType=VARCHAR},
		#{userId,jdbcType=VARCHAR},
		#{deliveryWay,jdbcType=VARCHAR},
		#{sendStatus,jdbcType=VARCHAR},
		#{recvStatus,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP},
		#{resendCount,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.message.entity.MsgList">
		insert into MSG_LIST
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="titleId != null">
				TITLE_ID,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="deliveryWay != null">
				DELIVERY_WAY,
			</if>
			<if test="sendStatus != null">
				SEND_STATUS,
			</if>
			<if test="recvStatus != null">
				RECV_STATUS,
			</if>
			<if test="sendTime != null">
				SEND_TIME,
			</if>
			<if test="resendCount != null">
				RESEND_COUNT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="titleId != null">
				#{titleId,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="deliveryWay != null">
				#{deliveryWay,jdbcType=VARCHAR},
			</if>
			<if test="sendStatus != null">
				#{sendStatus,jdbcType=VARCHAR},
			</if>
			<if test="recvStatus != null">
				#{recvStatus,jdbcType=VARCHAR},
			</if>
			<if test="sendTime != null">
				#{sendTime,jdbcType=TIMESTAMP},
			</if>
			<if test="resendCount != null">
				#{resendCount,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.message.entity.MsgList">
		update MSG_LIST
		<set>
			<if test="titleId != null">
				TITLE_ID = #{titleId,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="deliveryWay != null">
				DELIVERY_WAY = #{deliveryWay,jdbcType=VARCHAR},
			</if>
			<if test="sendStatus != null">
				SEND_STATUS = #{sendStatus,jdbcType=VARCHAR},
			</if>
			<if test="recvStatus != null">
				RECV_STATUS = #{recvStatus,jdbcType=VARCHAR},
			</if>
			<if test="sendTime != null">
				SEND_TIME = #{sendTime,jdbcType=TIMESTAMP},
			</if>
			<if test="resendCount != null">
				RESEND_COUNT = #{resendCount,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.message.entity.MsgList">
		update MSG_LIST
		set TITLE_ID = #{titleId,jdbcType=VARCHAR},
		USER_ID =
		#{userId,jdbcType=VARCHAR},
		DELIVERY_WAY =
		#{deliveryWay,jdbcType=VARCHAR},
		SEND_STATUS =
		#{sendStatus,jdbcType=VARCHAR},
		RECV_STATUS =
		#{recvStatus,jdbcType=VARCHAR},
		SEND_TIME =
		#{sendTime,jdbcType=TIMESTAMP},
		RESEND_COUNT =
		#{resendCount,jdbcType=INTEGER}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 根据主题编号获取对应的发送列表 -->
	<select id="getMsgListByTitleId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM MSG_LIST WHERE TITLE_ID =#{titleId}
	</select>

	<!-- 根据查询条件获取对应的信息 -->
	<select id="searchMsgList" parameterType="com.message.entity.MsgList"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM MSG_LIST
		WHERE 1=1
		<if test="userId != null and userId != '' ">
			AND USER_ID LIKE '%${userId}%'
		</if>
		<if test="titleId != null and titleId != '' ">
			AND TITLE_ID LIKE '%${titleId}%'
		</if>
		<if test="deliveryWay != null and deliveryWay != '' ">
			AND DELIVERY_WAY =#{deliveryWay}
		</if>
		<if test="sendStatus != null and sendStatus != '' ">
			AND SEND_STATUS =#{sendStatus}
		</if>
		<if test="recvStatus != null and recvStatus != '' ">
			AND RECV_STATUS =#{recvStatus}
		</if>
		<if test="startTime != null">
			<![CDATA[
                AND SEND_TIME >= #{startTime}
                ]]>
		</if>
		<if test="endTime != null">
			<![CDATA[
                AND SEND_TIME <= #{endTime}
                ]]>
		</if>
		<!-- 排序 -->
		<if test="sort != null and sort !=''">
			ORDER BY ${sort} ${order}
		</if>
	</select>

	<!-- 获取指定用户未读取的弹窗消息 -->
	<select id="searchNotReadMsgListByUserId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		TITLE_ID
		FROM MSG_LIST
		WHERE DELIVERY_WAY ='popup'
		AND
		RECV_STATUS ='no'
		AND
		USER_ID =#{userId}
		GROUP BY TITLE_ID
	</select>

	<!-- 用户是否有未发送的弹窗消息 -->
	<select id="existUnsendMsg" parameterType="java.lang.String">
		SELECT
		COUNT(1)
		FROM
		MSG_LIST
		WHERE DELIVERY_WAY ='popup'
		AND (SEND_STATUS = 'not' or
		SEND_STATUS ='fail')
		AND USER_ID =#{userId}
	</select>

	<!-- 改变用户和主题对应的发送状态和接受状态 -->
	<update id="changeMsgStatus">
		UPDATE MSG_LIST
		SET
		SEND_STATUS ='success',
		RECV_STATUS
		='yes'
		WHERE TITLE_ID=#{titleId} ABD USER_ID=#{userId}
	</update>

	<!-- 修改重发记录 -->
	<update id="updateMsgListRecord" parameterType="com.message.entity.MsgList">
		UPDATE MSG_LIST
		SET
		SEND_STATUS =#{sendStatus} ,
		RESEND_COUNT =#{resendCount} ,
		SEND_TIME =#{sendTime}
		WHERE ID=#{id}
	</update>

	<!-- 删除指定id集合的主题 -->
	<delete id="batchDelete">
		DELETE FROM MSG_LIST WHERE
		ID IN
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<!-- 获取需要重发的集合 -->
	<select id="selectResendList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from MSG_LIST
		where ID IN
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>