<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.message.dao.MsgTitleTypeMapper">
	<resultMap id="BaseResultMap" type="com.message.entity.MsgTitleType">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="TYPE_ID" property="typeId" jdbcType="VARCHAR" />
		<result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, TYPE_ID, TYPE_NAME
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from MSG_TITLE_TYPE
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		MSG_TITLE_TYPE
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.message.entity.MsgTitleType">
		insert into MSG_TITLE_TYPE
		(ID, TYPE_ID, TYPE_NAME
		)
		values (#{id,jdbcType=VARCHAR},
		#{typeId,jdbcType=VARCHAR},
		#{typeName,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.message.entity.MsgTitleType">
		insert into MSG_TITLE_TYPE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="typeId != null">
				TYPE_ID,
			</if>
			<if test="typeName != null">
				TYPE_NAME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				#{typeId,jdbcType=VARCHAR},
			</if>
			<if test="typeName != null">
				#{typeName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.message.entity.MsgTitleType">
		update MSG_TITLE_TYPE
		<set>
			<if test="typeId != null">
				TYPE_ID = #{typeId,jdbcType=VARCHAR},
			</if>
			<if test="typeName != null">
				TYPE_NAME = #{typeName,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.message.entity.MsgTitleType">
		update
		MSG_TITLE_TYPE
		set TYPE_ID = #{typeId,jdbcType=VARCHAR},
		TYPE_NAME =
		#{typeName,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 获取主题类型集合 -->
	<select id="getAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from MSG_TITLE_TYPE
	</select>

	<!-- 通过主题编号获取主题类型信息 -->
	<select id="getByTypeId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from MSG_TITLE_TYPE
		WHERE TYPE_ID =#{typeId}
	</select>
</mapper>